@import-normalize;

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: antiquewhite;
    margin: 0;
}
  
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
    background-color: #FFF;
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0 10px;
    }
}